<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ encore_entry_link_tags('admin') }}
    {{ encore_entry_script_tags('admin') }}
    <title>{{ title|default('SET TITLE') }}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% block header %}
    {% include 'admin/sections/header.html.twig' %}
{% endblock %}

<div class="container-fluid">

    {% block totalbody %}

        <div class="row">
            {% include 'admin/sections/sidebar.html.twig' %}

            <div class="col content-wrapper">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                {% block body %}
                    <ul>
                        <li>Add row</li>
                        <li>Add col-lg-xx/col-md-xx</li>
                        <li>Add card ("div") >></li>
                        <li>Add card-title ("div") >> ("h5")</li>
                        <li>Add card-body ("div") >> [content]</li>
                    </ul>
                {% endblock %}
            </div>

        </div>

    {% endblock %}

</div>

{% block javascripts %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
