{% set v = '0.2' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}?v={{ v }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.superhero.css') }}?v={{ v }}">
    <link rel="stylesheet" href="{{ asset('fontawesome/css/all.css') }}?v={{ v }}">
    <title>{{ websitename }} - {{ title|default('SET TITLE') }}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>

{% block header %}
    {% include 'sections/header.html.twig' %}
{% endblock %}

<div class="container-fluid">

    <div class="alert-box">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% block totalbody %}
        <div class="row">
            {% include 'sections/sidebar.html.twig' %}
            <div class="col-lg-8 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <strong>{{ title }}</strong>
                    </div>
                    <div class="card-body">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

</div>

<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="{{ asset('js/admin.js') }}?v={{ v }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
