{% extends 'admin/base.html.twig' %}

{% block body %}
    <p>You can create, delete or update pages here.</p>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_widget(form) }}

    <a class="btn btn-danger btn-sm" href="{{ path('admin_page_index') }}"><i class="fa fa-arrow-left"></i> &nbsp;&nbsp; {{ 'cancel'|trans }}</a>
    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i>&nbsp;&nbsp; {{ 'save'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
