{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="row mb-3">
        <div class="col-lg-12">
            <a href="{{ path('admin_page_form') }}" class="btn btn-primary btn-sm float-right"><i class="fa fa-plus"></i> &nbsp;&nbsp; {{ 'page_create'|trans }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-responsive-md table-hover table-sm">
                <thead>
                <tr>
                    <th>{{ 'Title'|trans }}</th>
                    <th>{{ 'Slug'|trans }}</th>
                    <th class="d-none d-md-table-cell">{{ 'Created_at'|trans }}</th>
                    <th class="d-none d-md-table-cell">{{ 'Modified_at'|trans }}</th>
                    <th class="d-none d-md-table-cell">{{ 'Created_by'|trans }}</th>
                    <th class="d-none d-md-table-cell">{{ 'Modified_by'|trans }}</th>
                    <th>{{ 'actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for page in pages %}
                    <tr>
                        <td>{{ page.title }}</td>
                        <td>{{ page.slug }}</td>
                        <td class="d-none d-md-table-cell">{{ page.createdAt|date('d-m-Y') }}</td>
                        <td class="d-none d-md-table-cell">{{ page.modifiedAt|date('d-m-Y') }}</td>
                        <td class="d-none d-md-table-cell">{{ page.createdBy.fullname }}</td>
                        <td class="d-none d-md-table-cell">{{ page.modifiedBy.fullname }}</td>
                        <td>
                            <a href="" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> <span class="d-none d-md-inline-block">{{ 'edit'|trans }}</span></a>
                            <a href="" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i> <span class="d-none d-md-inline-block">{{ 'delete'|trans }}</span></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
